<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkHCBVZhCtHwkNXP5gjFfDPO0PfJKoOTU</string>
	<key>GCM_SENDER_ID</key>
	<string>830588837568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.buildSpotifyWithFlutter</string>
	<key>PROJECT_ID</key>
	<string>sopity-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>sopity-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830588837568:ios:5520fe1b2d30be452b1725</string>
</dict>
</plist>